<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="myCtrl" class="app">
      <input type="text" ng-model="lastName" />
      <br />
      <input type="text" ng-model="firstName" />

      <p ng-bind="fullName()"></p>
    </div>
    <script>
      var app = angular.module("myApp", []);

      app.controller("myCtrl", ($scope) => {
        $scope.firstName = "khôi";
        $scope.lastName = "nguyễn";
        $scope.fullName = () => {
          return $scope.lastName + " " + $scope.firstName;
        };
      });
    </script>
  </body>
</html>


